set (autostart false)
set (callsign "org.rdk.barton")

map()
    kv(outofprocess true)
end()
ans(rootobject)

map()
    if(PLUGIN_BARTONMATTER_CLIENTIDENTIFIER)
        kv(clientidentifier ${PLUGIN_BARTONMATTER_CLIENTIDENTIFIER})
    endif()
end()
ans(configuration)

map_append(${configuration} root ${rootobject})
